{% extends 'base.html' %}

{% block content %}
  <!-- changer le fond en d'egradé sombre
mettre un espace entre les section -->
  <!-- section hero 
modifier l'image et adapté le texte avec un appel a l'action-->
<div class="hero">
<div class="container">
  <div class="row">
    <div class="col-12 col-1">
    <h1 class="text-center">Vien dansé ça va être cool! </h1>
    </div>
  </div>
</div>
</div>
  <!-- section photo a gauche texte a droite 
alligner le texte et l'image changer l'image et modifier le texte -->
  <div class="container-fluid">
    <div class="heromain">
      <div class="row">
        <div class="col-12 col-md-6" >
          <img src="static/image/accueil/B9728507655Z.1_20211001144835_000+GRLJ1J6AH.1-0.jpg" alt="" class="img-responsive" width="100%">
        </div>
        <div class="col-12 col-md-6">
          <div class="content">
            <div>
              <h1>Pour qui ?</h1>
              <h6 class="text-muted" id="feelgood">FEEL GOOD VIBES</h6>
              <p class="text-center">Un seul prérequis pour venir à le studio de dance : Avoir envie de passer un bon moment ✌️ Ensuite, que ton ambition soit de devenir le prochain danseur de Beyoncé ou juste venir faire un peu de sport en t'éclatant, Grace dance studio a les cours qu'il te faut. Bref, en passant la porte de Grace dance studio, on se sent à l'aise immédiatement et on sort des cours avec le sourire, quel que soit notre âge ou notre niveau.</p>
              <button type="button" class="btn btn-success" href="#">Cours d'éssai gratuit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  <!-- section card
  modifier les image mettre a meme taille pas de border les arrondi mais plat dans le bas de l'image et passer les cart en cours privée cours collectif et stage d'été -->
  <div class="container">
   <div class="row">
     <div class="col-12 col-md-4">
       <div class="card rounded">
         <img src="static/image/accueil/dancershow-cours-de-danse-classique_639044.jpeg" class="card-image rounded">
         <div class="card-body">
           <h5 class="card-title">Cours Enfant</h5>
           <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt unde cupiditate, sint neque exercitationem</p>
          <button type="button" class="btn btn-success" href="#">Découvrir</button>
         </div>
       </div>
     </div>  
     <div class="col-12 col-md-4">
       <div class="card">
         <img src="static/image/accueil/pexels-yogendra-singh-1701202.jpg" class="card-image rounded">
         <div class="card-body">
           <h5 class="card-title">Cours Adulte</h5>
           <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt unde cupiditate, sint neque exercitationem</p>
          <button type="button" class="btn btn btn-success" href="#">Découvrir</button>
         </div> 
        </div>
     </div>
    <div class="col-12 col-md-4">
       <div class="card">
         <img src="static/image/accueil/AlainScherer_Ligne08_20190602_15017-1024x683.jpeg" class="card-image rounded">
         <div class="card-body">
           <h5 class="card-title">Stage D'été</h5>
           <p class="card-text">Pour kids et ados de 5 à 15 ans, découvrez nos stages qualitatifs mêlant sport, gourmandise et fun
             </p>
           <a href="" class="btn-btn-primary"></a>
           <button type="button" class="btn btn-success" href="#">Découvrir</button>
         </div>
        </div>
      </div>
     </div>
    </div>
<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/HL8Er3cP2b4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}