{% extends 'base.html' %}

{% block content %}
<div class="equipe">
  <div class="container">
    <h2>Notre equipe</h2>

    <div class="rowtop">
      <div class="row">


        <div class="col-12 col-md-6">
          <div class="carte">
            <img src="/static/image/equipe/jessica-radanavong-D6t70k8F28w-unsplash.jpg" alt="" class="img-responsive" width="200px" height="280px">
            <div class="carte-texte">
              <h4>texte</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis minus quos eum, est vitae repudiandae tenetur asperiores necessitatibus inventore! Dolorem repellat quisquam fugit quaerat corporis odio, ipsam cumque dolor delectus?</p>
              <div class="icon">
                <span>
                  <a href=""<i class="fa-brands fa-facebook-square fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-instagram-square fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-linkedin fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-twitter-square fa-xl"></i></a>
                </span>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="carte">
            <img src="/static/image/equipe/matheus-ferrero-pg_WCHWSdT8-unsplash.jpg" alt="" class="img-responsive" width="200px" height="280px">
            <div class="carte-texte">
              <h4>texte</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis minus quos eum, est vitae repudiandae tenetur asperiores necessitatibus inventore! Dolorem repellat quisquam fugit quaerat corporis odio, ipsam cumque dolor delectus?</p>
              <div class="icon">
                <span>
                  <a href=""<i class="fa-brands fa-facebook-square fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-instagram-square fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-linkedin fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-twitter-square fa-xl"></i></a>
                </span>
              </div>
            </div>
            
          </div>
        </div>
        
        
      </div>
    </div>
    <div class="rowbotton">
      <div class="row">


        <div class="col-12 col-md-6">
          <div class="carte">
            <img src="static/image/equipe/prince-akachi-J1OScm_uHUQ-unsplash.jpg" alt="" class="img-responsive" width="200px" height="280px">
            <div class="carte-texte">
              <h4>texte</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis minus quos eum, est vitae repudiandae tenetur asperiores necessitatibus inventore! Dolorem repellat quisquam fugit quaerat corporis odio, ipsam cumque dolor delectus?</p>
              <div class="icon">
                <span>
                  <a href=""<i class="fa-brands fa-facebook-square fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-instagram-square fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-linkedin fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-twitter-square fa-xl" color="black"></i></a>
                </span>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="carte">
            <img src="/static/image/equipe/vince-fleming-j3lf-Jn6deo-unsplash.jpg" alt="" class="img-responsive" width="200px" height="280px">
            <div class="carte-texte">
              <h4>texte</h4>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis minus quos eum, est vitae repudiandae tenetur asperiores necessitatibus inventore! Dolorem repellat quisquam fugit quaerat corporis odio, ipsam cumque dolor delectus?</p>
            </div>
            <div class="icon">
                <span>
                  <a href=""<i class="fa-brands fa-facebook-square fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-instagram-square fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-linkedin fa-xl"></i></a>
                  <a href=""<i class="fa-brands fa-twitter-square fa-xl"></i></a>
                </span>
              </div>
            
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
{% endblock %}